html{
    font-family: BatangChe, "Times Noew Roman", serif;
}

h1{
    text-align: center;
    font-weight: bolder;

}

button:active{
    color: blue;
}

p{
    font-size:16px;
    text-align:justify;
    line-height:200%
}

#userInfo{
   border-width:2px;
   border-style:solid;
   display: flex; /* Flexbox를 사용하여 요소들을 나란히 배치 */
   align-items: center; /* 세로 중앙 정렬 */
   gap: 20px; /* 이미지와 텍스트 사이의 간격 */
}

#userImg{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

#significant{
    border-width:2px;
    border-style:solid;
    background-color: lightgrey;
    text-align: center;
    margin-bottom: 0;
}

.image-container {
    border: 2px solid black; /* Adjust color and thickness as needed */
    width: 200px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}

#memo{
    text-align: center;
}

.container{
    border: 2px solid black; 
    margin-top: 0;
}